body{
  font-family: 'Jost', sans-serif;
  background-color: #f7f7f7;
  color: #4a3f35;
}

body a{
  text-decoration: none;
  color: #4a3f35;
}

body a:hover{
  text-decoration: underline;
  color: #4a3f35;
}

/* sample page image display */
.model-display{
  height: 15rem;
}

.img-container{
  width: 150px;
}
/*currency selection styles */
.base-currency button:hover{
  background-color: #e0dede;
  color: #4a3f35;
}

.compared-currency button:hover{
  background-color: #e0dede;
  color: #4a3f35;
}

input:invalid{
    border: solid 1px red;
}

.btn-outline-secondary{
  width: 8rem;
  border: solid 0.5px #4a3f35 !important;
}

.main{
  width: 100%;
}

.dropdown-menu.show{
  background-color: #f7f7f7 !important;
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  position: absolute !important;
  width: 100% !important;
  height: 30rem !important;
  top: 0px !important;
  left: 0px !important;
  transform: none !important;
  margin:0 !important;
}

.dropdown-item{
  width: 8rem !important;
  height: 5rem;
}

.form-control{
  height: 80px !important;
  min-width: 100px;
  background-color: #f7f7f7;
}

.arrow{
  width: 3rem;
  font-size: 2rem;
  color: #4a3f35;
}

/* list of currency display */
.currency-display{
  height: 25rem;
  overflow-y: scroll;
}

.currency-list{
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
